<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p class="text-end">
        <%= link_to "Ver", post_path(post), class:"btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
