<p style="color: green"><%= notice %></p>

<% content_for :title, "Mis Posteos" %>

<h1 class="text-center">Mis Posteos</h1>

<p class="text-end">
  <%= link_to "Nuevo Post", new_post_path, class:"btn boton_ver fw-bold" %>
</p>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p class="text-end">
        <%= link_to "Ver Post", post_path(post), class:"btn boton_ver fw-bold" %>
    </p>
  <% end %>
</div>

