.imagen_post {
max-width: 60%;
margin: auto;
border-radius: 10px 10px 10px 10px



}

.base_post {
    height: 250px;
}

.avatar {
    clip-path: circle();

}

.texto_carta {
    overflow: hidden;
}

.barra, .titulo_comentarios {
    background-color: aquamarine;
}